.container-about {
    width: 80%;
    margin: 0 auto;
}

.about-us {
    padding: 50px 0;
}

.about-us h1 {
    font-size: 2em;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
}